.Nav_Container {
    width: 100%;
    position: absolute;
    z-index: 5;
    background-color: #2B61FE;
    display: flex;
    justify-content: space-between;
    
    img {
        width: 70px;
        margin-left: 50px;
        cursor: pointer;
    }

    .Nav_Menu {
        display: flex;
        align-items: center;
        color: white;
        margin-right: 50px;

        p {
            font-family: 'Righteous', cursive;
            margin-left: 25px;
            cursor: pointer;
            &:hover {
                color: #162d74;
            }
        }

        .language_container {

            .ES_button {
                height: 40px;
                width: 40px;
                color: #2B61FE;
                border: 1px solid #2B61FE;
                font-size: 13px;
                cursor: pointer;
            }

            .ENG_button {
                height: 40px;
                width: 40px;
                color: #2B61FE;
                border: 1px solid #2B61FE;
                font-size: 13px;
                cursor: pointer;
            }
            
            .selected {
                height: 40px;
                width: 40px;
                color: white;
                background-color: #2B61FE;
                border: 1px solid #2B61FE;
                font-size: 13px;
                cursor: pointer;
            }
        }
        .button_container {
            display: flex;
            width: 200px;
        }
    }
}